.posts-page {
	background-image: url('../img/bg-5.png');
	background-repeat: repeat;
	background-attachment: fixed;

	background-position: center;
	background-size: cover;
}
.postlist-content-section {
	display: flex;
	flex-direction: column;
	padding-top: 170px;
}
.posts-section {
	display: flex;
	justify-content: flex-start;
}
.posts-sortbutton {
	display: flex;
	margin: auto;
	width: auto;
	justify-content: center;
	padding-bottom: 30px;
}
.posts-container {
	z-index: 0;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1470px;
	margin: auto;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
}

.posts-item {
	/* explanation below */
	flex: 0 0 25%;
	margin: 50px;
	width: 400px;
	height: 500px;
}

.share-box {
	padding-bottom: 300px;
}
