.image-container {
	margin-right: 0px;
	margin: 10px;
	width: 50%;
	height: 600px;
	border-radius: 30px;
}

.text-container {
	padding-left: 25px;
	padding-right: 10px;
	margin: 10px;
	width: 50%;
	height: 720px;
	/* border-radius: 30px; */
	overflow: auto;
}

.user-container-content {
	font-family: 'Helvetica';
	color: rgb(63, 63, 63);
	font-size: 18px;
	line-height: 2rem;
	margin: 2em 0em 2em 0em;
}

.user-container-title {
	font-family: 'Montserrat';
	color: rgb(63, 63, 63);
	height: 50px;
	display: flex;
	flex-direction: row;
	width: auto;
}

.user-container-title strong {
	font-family: 'Montserrat-Bold';
}

.user-container-title-title {
	width: 80vw;
	margin-top: 0.8rem;
}

.user-container-title-likebutton {
	padding-right: 10px;
	width: 80px;
	margin-top: 0.4rem;
	transition: all 0.2s;
}

.user-container-title-likebutton:hover {
	transform: scale(1.1);
}

.user-container-title-likecount {
	height: 40px;
	width: 150px;
	margin-top: 0.8rem;
}

.user-container-title-likecount p {
	margin: 0;
	padding: 0;
}
.user-container-title-sharebutton {
	padding-right: 20px;
	width: 80px;
	margin-top: 0.4rem;
	transition: all 0.2s;
}
.user-container-title-sharebutton:hover {
	transform: scale(1.1);
}

.context-container {
	position: relative;
	display: flex;
	top: 200px;
	width: 1300px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	z-index: 0;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0 auto;
	border-radius: 30px;
}

#app {
	height: 100%;
}
html,
body {
	position: relative;
	height: 100%;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 16px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* body {
    background: #000;
    color: #000;
  } */

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.mySwiper2 {
	height: 720px;
	width: 100%;
}

.mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.like-container {
	height: auto;
}
.share-box-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	height: 500px;
	padding-bottom: 50px;
}
.share-container-title {
	text-align: center;
	font-size: 18px;
	height: 50px;
	color: rgb(101, 101, 101);
}
.share-container {
	display: flex;
	flex-direction: row;
	justify-content: left;
	height: 120px;
	border-radius: 60px;
	background-color: rgb(240, 240, 240);
	transition: all 0.2s;
}
.share-container:hover {
	background-color: rgb(223, 223, 223);
}
.share-container:active {
	background-color: rgb(185, 185, 185);
}
.share-content {
	display: flex;
	flex-direction: row;
	margin-left: 40px;
	column-gap: 50px;
}
.share-icon {
	margin: auto;
}
.share-text {
	display: flex;
	flex-direction: row;
	margin: auto;
	text-align: left;
	color: rgb(60, 60, 60);
	font-size: 18px;
}
