.user-container {
	/* z-index: 0; */
	position: relative;
	display: flex;
	flex-direction: row;
	top: 130px;
	/* flex-wrap: wrap; */

	margin-left: 10px;
	padding-bottom: 50px;
	/* background-color: blue; */
	z-index: 0;
	min-width: 600px;
}

.user-profilepic-container {
	width: 400px;
	display: flex;
	margin: 50px;
	flex-direction: column;
	justify-content: center;
	row-gap: 20px;
	height: 500px;
}

.user-profilepic-container img {
	width: 400px; /* you can use % */
	height: auto;
	margin: auto;
	border-radius: 200px;
}

.user-profilepic-button {
	display: flex;
	align-items: center;
	height: 50px;
}

.user-info-container {
	display: flex;
	margin-left: 50px;
	margin-top: 80px;
	margin-right: 50px;
	flex-direction: column;
	row-gap: 20px;
	max-width: 1000px;
}

.user-info-container strong {
	font-size: 24px;
}

.user-info-container p {
	color: rgb(83, 83, 83);
}

.user-info-content {
	padding-bottom: 20px;
}

.posts-section-user {
	display: flex;
	justify-content: flex-start;
}
.posts-container-user {
	z-index: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1000px;
	column-gap: 50px;
}

.posts-item-user {
	flex: 0 0 15%;
	width: 100vw;
	height: 350px;
}

.posts-item-user p {
	color: white;
}
.btn-delete {
	color: rgb(131, 131, 131);
	background-color: white;
	font-size: 30px;
	transition: all 0.2s;
	position: relative;
	left: 210px;
	top: 30px;
	border-radius: 30px;
	box-shadow: 1px 1px 5px rgb(169, 169, 169);
	z-index: 5;
}

.btn-delete:hover {
	transform: scale(1.1);
	color: rgb(255, 121, 121);
}
