.AddButton {
	position: fixed;
	right: 50px;
	bottom: 50px;
	border-radius: 50px;
	filter: drop-shadow(0 0 0.4rem rgb(105, 142, 20));
	transition: all 0.2s;
}

.AddButton img {
	width: 100px;
	height: 100px;
	margin: auto;
}

.AddButton:hover {
	transform: scale(1.08);
	filter: drop-shadow(0 0 0.9rem rgb(133, 177, 32));
}

/* https://codepen.io/aaronmcg/pen/KmzNKB */
