.map-container {
	width: 100vw;
	height: 100vh;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.marker {
	width: 5px;
	height: 5px;
	background-color: blue;
	transition: all 0.3s;
}
.marker:hover {
	transform: scale(2);
}
