.white {
	width: 100vw;
	height: 150px;
	position: fixed;
	background: rgb(24, 24, 24);
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.7) 50%, rgba(28, 28, 28, 0) 100%);
	z-index: 10;
	font-family: 'Montserrat-Bold';
	font-weight: bold;
}

.black {
	width: 100vw;
	height: 150px;
	position: fixed;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8813900560224089) 80%,
		rgba(255, 255, 255, 0) 100%
	);
	z-index: 10;
	font-family: 'Montserrat-Bold';
	font-weight: bold;
}
.header-info {
	/* width: 100vw; */
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: row;
	justify-content: center;
	min-width: 620px;
}
.back-button {
	flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 35px;
	z-index: 5;
}
.title-white {
	color: white;
	text-align: center;
	font-size: 18pt;
	width: 100vw;
	z-index: 5;
}

.title-black {
	color: black;
	text-align: center;
	font-size: 18pt;
	width: 100vw;
	z-index: 5;
}
.login-button {
	flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-right: 35px;
	z-index: 5;
}

.login-container {
	display: flex;
	flex-direction: row;
}
.login-container p {
	font-size: 16px;
	font-family: 'Montserrat';
	padding-right: 10px;
	z-index: 5;
}

.back-button img {
	width: 50px;
	height: 50px;

	transition: all 0.2s;
}

.back-button img:hover {
	transform: scale(1.2);
}

.login-button img {
	width: 50px;
	height: 50px;

	transition: all 0.2s;
}

.login-button img:hover {
	transform: scale(1.2);
}
