.post-container img {
	object-fit: cover;
	height: 500px;
	width: 400px;
	border-radius: 30px;
	z-index: -1;
}

.post-container {
	height: 500px;
	width: 400px;
	border-radius: 30px;
	transition: all 0.2s;
	z-index: -1;
}

.post-content {
	position: relative;
	color: white;
	bottom: 70px;
	left: 40px;
}

.post-container:hover {
	transform: scale(1.02);
	box-shadow: 1px 1px 10px rgb(134, 134, 134);
}

.post-container:active {
	animation: click 0.15s;
	opacity: 0.9;
}

@keyframes click {
	0% {
		transform: scale(1);
		opacity: 0.9;
	}
	100% {
		transform: scale(1.02);
		opacity: 1;
	}
}
