.post-container-user img {
	object-fit: cover;
	height: 300px;
	width: 240px;
	border-radius: 30px;
	z-index: -1;
}

.post-container-user {
	height: 300px;
	width: 240px;
	border-radius: 30px;
	transition: all 0.2s;
	z-index: -1;
}

.post-container-user:hover {
	transform: scale(1.02);
	box-shadow: 1px 1px 5px (rgb(150, 150, 150));
}

.post-content-user {
	position: relative;
	color: white;
	bottom: 50px;
	left: 20px;
}
